@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    $app-bar-background-color: #ffffff;
    $app-bar-border: #ececfa;

    .app-bar {
      --mat-toolbar-container-background-color: $side-bar-background-color;
      border-bottom: 2px solid $app-bar-border;
    }
}

@mixin typography($theme) {
}

@mixin theme($theme) {

  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}